body {
    background-image: linear-gradient(90deg, salmon, rgb(241, 81, 75));
}

h1{
    margin-top: 40px;
    padding-bottom: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    /* width: 50vh;
    height: 100vh;  */
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #252525;
    margin: 0 auto;
    position: relative;
    top: 40px;
    border-radius: 20px;
    box-shadow: 0 18px 16px 2px #252525;
    font-family: 'Josefin Sans', sans-serif;
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: aliceblue;
}

#output {
    text-align: right;
    height: 60px;
    margin: 20px 20px;
    font-size: 40px;
    color: aliceblue;
    text-shadow: 0 0 3px aliceblue;
    overflow: hidden;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    color: aliceblue;
    background-color: #a80038;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 0 3px aliceblue;
}

.empty{
    background-color: #252525;
}

.operator, .number{
    cursor: pointer;
}

.operator{
    background-color: #fd0054e1;
    font-size: 16px;
}

.equals{
    border-radius: 10px;
    width: 210px;
}

.operator:active, .number:active{
    box-shadow: 0px 0px 10px #fd0054;
}

.operator:focus, .number:focus{
    outline: 0;
}

.operator:hover, .number:hover{
    box-shadow: 0px 0px 10px #fd0054;
}